.post{
    border: 2px black solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33;
    grid-template-rows: 10% auto;
}

.upvote{
    border: 2px black solid;
    grid-column: 1;
    grid-row: 1;
}

.downvote{
    border: 2px black solid;
    grid-column: 1;
    grid-row: 3;
}

.post-body{
    border: 2px black solid;
    grid-column: 2 \ 3;
    grid-row: 1 \ 4;
}